@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Crete Round";
  src: url(./assets/fonts/CreteRound-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-VariableFont_slntwght.ttf);
}

@font-face {
  font-family: "InaiMathi";
  src: url(./assets/fonts/Murasuit.ttf);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* button interaction */

.button:visited {
  color: white;
}

.button:hover {
  text-decoration: underline;
  color: aqua;
}

.button:active {
  color: yellow;
}

/* main code */

.desktop-header {
  display: none;
}

.toolbar {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  background: #3c3a39;
  padding: 5%;
  min-height: 5vh;
}

.humberger {
  display: flex;
  flex: 1;
  padding-right: 12px;
}

.humberger:hover {
  color: white;
}

.name {
  flex: 1;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  text-decoration: none;
}

.name:hover {
  text-decoration: underline;
}

.desk-first-page {
  display: none;
}

.first-page {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  background: #1c1a19;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 24px;
}

.hey {
  margin-top: 20vh;
  color: #ff6b00;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}

.softwaredev {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  color: #fff5e1;
}

.headline-p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  max-height: 123px;
}

.socio-image {
  display: flex;
  height: 180px;
}

.socila-link {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  color: #dbd8d7;
  width: 60vw;
  padding-left: 35px;
}

.social:hover {
  background-color: blue;
}

.socio-image > img {
  align-self: center;
  width: 40vw;
  height: 250px;
}

/* Second page and cards */

.desk-cards {
  display: none;
}

.cards {
  display: grid;
  background: fff;
  margin-right: 1px;
}

.h21-line {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.h21 {
  display: flex;
  margin-top: 20vw;
  margin-left: 3vw;
  justify-content: left;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
}

hr.line {
  display: flex;
  margin-top: 5vh;
  background-color: #e5e5e5;
  height: 1px;
  width: 85vw;
  margin-left: 4vw;
}

.main-image {
  display: flex;
  margin-top: 10vh;
  margin-left: 6.5vw;
  width: 86vw;
}

.card-1 {
  display: flex;
  flex-direction: column;
  margin-left: 6.5vw;
  width: 85.5vw;
}

.multi-story {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #14284b;
}

.p21 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

ul.skills {
  display: flex;
  flex: 1;
  list-style: none;
  margin-top: 2vh;
}

.css-1 {
  padding: 2vw;
  border: 2px solid #8993a4;
}

.css-1 :hover {
  border: solid blue;
}

.skill {
  margin-left: 6vw;
  padding: 2vw;
  border: 2px solid #8993a4;
}

.skill :hover {
  border: solid blue;
}

.see-project-1 {
  width: 92px;
  background: #ff6b00;
  color: #fff;
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  margin-top: 18px;
  margin-bottom: 5vh;
  margin-left: 6.5vw;
}

.see-project-1 :hover {
  text-decoration: underline;
  text-decoration-color: blue;
}

/* Profesional Art Printing Data */

.card-2 {
  display: flex;
  margin-left: 24px;
  margin-right: 24px;
  flex-direction: column;
  background-image: url(./assets/images/Placeholder1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 88vw;
}

.prof-art {
  margin-top: 17vh;
  margin-left: 6px;
  color: #fff;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.p22 {
  padding: 2vw;
  margin-left: 6px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

ul.skils {
  display: flex;
  width: 65vw;
  margin-bottom: 3vh;
}

.see-project-2 :hover {
  text-decoration: underline;
  text-decoration-color: blue;
}

.skil :hover {
  border: solid blue;
}

ul.skils :first-child {
  display: flex;
  align-self: center;
  padding: 2vw;
  border: 2px solid #8993a4;
  background: rgba(255, 255, 255, 0.24);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  margin-left: 15px;
}

ul.skils :first-child :hover {
  border: solid blue;
}

.skil {
  margin-left: 6vw;
  padding: 2vw;
  border: 2px solid #8993a4;
  background: rgba(255, 255, 255, 0.24);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.see-project-2 {
  background: #ff6b00;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  width: 88vw;
  margin-bottom: 10vh;
  margin-left: 24px;
  margin-right: 24px;
}

/* About me  */

.section-3 {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
}

.about-me-desk {
  display: none;
}

.about-me {
  display: flex;
  flex-direction: column;
}

.h31 {
  margin-top: 10vh;
  margin-left: 18px;
  margin-right: 18px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.p31-desk {
  margin-top: 20px;
  margin-left: 18px;
  margin-right: 18px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.get-myresume {
  display: flex;
  padding: 12px;
  background: #ff6b00;
  text-decoration: none;
  margin-top: 25px;
  margin-left: 18px;
  width: 143px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0.03em;
}

.abt-me-image {
  align-self: flex-start;
  width: 30vw;
  height: 30vh;
  position: relative;
  left: 69vw;
  margin-top: 0;
}

hr.line-3 {
  display: flex;
  margin-top: 5vh;
  background-color: #e5e5e5;
  height: 1px;
  width: 90vw;
  margin-left: 4vw;
}

ul.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 12vw;
  margin-top: 40px;
  width: 70vw;
}

.Lan {
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  color: rgb(247, 247, 247);
}

.Lan::before {
  content: "\25C6";
  color: #ff6b00;
  display: inline-block;
  width: 1.3em;
  margin-left: -1em;
}

.lan-list {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  align-items: center;
  text-align: center;
  color: rgb(247, 240, 240);
}

.Frame {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  color: rgb(247, 247, 247);
}

.Frame::before {
  content: "\25A0";
  font-size: 25px;
  color: #ff6b00;
  display: inline-block;
  width: 10px;
  width: 1em;
  margin-left: -1em;
}

.Frame-list {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  align-items: center;
  text-align: center;
  color: rgb(247, 240, 240);
}

.Sk {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  color: rgb(247, 247, 247);
}

.Sk::before {
  content: "\2022";
  font-size: 40px;
  color: #ff6b00;
  font-weight: bold;
  display: inline-block;
  width: 0.6em;
  margin-left: -1em;
}

.Sk-list {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  align-items: center;
  text-align: center;
  color: rgb(247, 240, 240);
}

ul.lists,
ul.lan-list,
ul.Frame-list,
ul.Sk-list {
  list-style: none;
}

/* Form */

.upper-form-desk {
  display: none;
}

.forms {
  display: flex;
  flex-direction: column;
}

.upper-form {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.upper-form > p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  padding: 90px 10px 40px 10px;
}

.full-name-m,
.email-m,
.touch-m {
  height: 50px;
  margin: 10px 20px 20px 20px;
}

.full-name-m,
.email-m {
  border: none;
  border-bottom: 1px solid #dbd8d7;
}

.messages-m {
  border: none;
  background-color: #fbf8f7;
  height: 115px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 20px;
}

#msg::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

.touch-m {
  width: 130px;
  height: 48px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  background-color: #ff6b00;
  color: #fff;
  margin: auto;
  border: none;
}

.touch-m:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.footer-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  width: 100vw;
  border-top: 1px solid #dfe1e6;
}

.social-links {
  display: flex;
  margin-bottom: 10px;
  padding-top: 10px;
}

.social-links > li {
  padding-left: 13px;
}

.socia-git {
  padding-left: 30px;
}

.social-Linkdinf {
  opacity: 1;
}

/* desk top version */

@media only screen and (min-width: 768px) {
  .toolbar {
    display: none;
  }

  .desktop-header {
    display: flex;
    flex: 1;
    height: 7vh;
    background: #3e3c3c;
  }

  .desk-header-left {
    display: flex;
    flex: 1;
    width: 50vw;
    margin-left: 5vw;
    margin-right: 40px;
    justify-content: space-around;
  }

  .desk-button {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    text-decoration: none;
  }

  .desk-name {
    display: flex;
    width: 40vw;
    margin-right: 5vw;
    margin-left: 76px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #fff;
    text-decoration: none;
  }

  .first-page {
    display: none;
  }

  .desk-first-page {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    background: #1c1a19;
  }

  .desk-first-page > img {
    transform: matrix(1, 0, 0, 1, 0, -1);
    padding: 0;
    width: 39vw;
  }

  .desk-headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
  }

  .desk-hey {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
  }

  .desk-softwaredev {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .desk-headline-p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  .socila-link {
    display: flex;
    align-self: center;
    margin-top: 10px;
    width: 100px;
    flex-direction: column;
    order: -1;
  }

  /* Cards */

  .cards {
    display: none;
  }

  .desk-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .desk-h21-line {
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-right: 30px;
    padding-top: 44px;
    padding-bottom: 100px;
  }

  .desk-h21 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
  }

  hr.desk-line {
    display: flex;
    background-color: #e5e5e5;
    height: 1px;
    width: 55vw;
    margin-left: 4vw;
  }

  .img-multi {
    display: flex;
    width: 87vw;
    height: 75vh;
  }

  .desk-card-1 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .desk-main-image {
    width: 50vw;
    height: 60vh;
  }

  .desk-multi-story {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
  }

  .desk-p21 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
  }

  .desk-skills {
    display: flex;
  }

  .desk-skills > li {
    padding: 1vw;
    margin: 5px;
    border: 1px solid #8993a4;
  }

  .button {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
  }

  .desk-see-project-1m {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.03em;
    color: #fff;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    width: 124px;
    height: 48px;
    text-decoration: none;
    background: #f55800;
  }

  .desk-see-project-1 {
    margin-top: 5px;
    height: 40px;
    text-decoration: none;
    background: #f55800;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    padding-left: 5px;
  }

  .desk-see-project-1m:hover {
    border: solid blue;
  }

  .card123 {
    display: flex;
    width: 87vw;
    height: 60vh;
    gap: 10px;
    padding-top: 25px;
  }

  .desk-card-pro1 {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(./assets/deskimage/Placeholder1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 31vw;
  }

  .desk-card-d1 {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(./assets/deskimage/Placeholder4.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 31vw;
  }

  .desk-prof-art-dash {
    padding-top: 180px;
    padding-left: 10px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .desk-p22-d {
    padding-left: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
  }

  .desk-skils-d {
    display: flex;
    padding-left: 10px;
  }

  .desk-skils-d > li {
    padding: 1vw;
    margin: 5px;
    background: rgba(255, 255, 255, 0.24);
  }

  .button-d {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .desk-card-w1 {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(./assets/deskimage/Placeholder5.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 31vw;
  }

  .desk-prof-art-w {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    position: relative;
    padding-top: 200px;
    padding-left: 16px;
  }

  .desk-w {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    padding-left: 16px;
  }

  .card456 {
    display: flex;
    margin-left: 60px;
    margin-right: 55px;
    width: 87vw;
    height: 65vh;
    gap: 10px;
    padding-top: 25px;
    padding-bottom: 70px;
  }

  .desk-card-d2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(./assets/deskimage/Placeholder4.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 31vw;
  }

  .desk-card-w2 {
    background-image: url(./assets/deskimage/Placeholder5.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 31vw;
  }

  /* About me */

  .about-me {
    display: none;
  }

  .section-3 {
    background: #262626;
    margin-left: 0;
  }

  .about-me-desk {
    display: flex;
    padding-left: 70px;
  }

  .story-abt-me {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 130px;
    padding-right: 100px;
  }

  .h31-desk {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
    padding-left: 15px;
  }

  .p31-desk {
    text-align: justify;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  .abt-img-desk {
    margin-top: 130px;
    width: 40vw;
    height: auto;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  ul.lists {
    display: flex;
    gap: 10vw;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 85vw;
    margin: 70px;
    border-top: 1px solid white;
  }

  .Frame,
  .Sk {
    padding-top: 34px;
  }

  .Sk > ul,
  .Frame > ul,
  .Lan > ul {
    align-items: flex-start;
  }

  /* Contact form  */

  .upper-form {
    display: none;
  }

  .upper-form-desk {
    display: flex;
    flex: 1;
    height: 60vh;
    padding-left: 70px;
    margin-top: 100px;
  }

  .upper-form-desk > p {
    width: 35vw;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: flex-start;
    color: #262626;
  }

  .inputs-form {
    display: flex;
    width: 50vw;
    flex-direction: column;
    margin-left: 20px;
  }

  .form-name-desk {
    display: flex;
    align-items: center;
  }

  input {
    height: 50px;
    margin: 10px 20px 20px 20px;
  }

  .full-name-desk,
  .last-name-desk,
  .email-desk {
    border: none;
    border-bottom: 1px solid #dbd8d7;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #979493;
  }

  textarea {
    border: none;
    background-color: #fbf8f7;
    height: 115px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 20px;
  }

  #msg::placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #3c3a39;
  }

  .touch-d {
    width: 130px;
    height: 48px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #fff;
    border: none;
    align-self: baseline;
    background: #f55800;
  }

  .touch-d:hover {
    background-color: #fff5e1;
    border: 1px solid #f55800;
    color: #f55800;
  }
}
